.status-bar {
  padding-top: 8px;
  margin-top: 12px;
}

.grid-row {
  cursor: default;
}

.toolbtn {
  padding: 2px;
}

.confirmation-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

