<div>
  <p-toolbar>
    <div class="p-toolbar-group-left">
      <p-button
        icon="pi pi-plus"
        (click)="addNew()"
        label="Add new"
        class="toolbtn"
      ></p-button>

      <p-button
        icon="pi pi-search"
        type="button"
        (click)="searchByName()"
        label="Search"
        class="toolbtn"
      >
      </p-button>

      <p-button
        (click)="deleteAllskins()"
        label="Delete All"
        class="toolbtn"
      ></p-button>
    </div>
    <div class="p-toolbar-group-right">
      <span class="p-input-icon-left">
        <i class="pi pi-filter"></i>
        <input
          pInputText
          type="text"
          placeholder="Filter by name"
          [(ngModel)]="name"
        />
      </span>
    </div>
  </p-toolbar>

  <table width="100%">
    <tr class="grid-header">
      <td>ID</td>
      <td>Name</td>
      <td>Link</td>
      <td>Date</td>
    </tr>
    <tr
      class="grid-row"
      *ngFor="let skin of skins; let i = index"
      [class.selected]="i == currentIndex"
      (click)="setCurrentSkin(skin, i)"
    >
      <td>{{ skin.ID }}</td>
      <td>{{ skin.SKIN_NAME }}</td>
      <td>{{ skin.SKIN_LINK }}</td>
      <td>{{ skin.LAST_DATE }}</td>
    </tr>
  </table>

  <p-dialog
    [(visible)]="editDialog"
    [style]="{width: '750px'}"
    header="Skin Details"
    [modal]="true"
    [transitionOptions]="'220ms'"
  >
    <ng-template pTemplate="content">
      <div class="p-field">
        <label for="name">Name</label>
        <input
          type="text"
          pInputText
          id="name"
          [(ngModel)]="product.name"
          required
          autofocus
        />
        <small class="p-invalid" *ngIf="submitted && !product.name"
          >Name is required.</small
        >
      </div>
      <div class="p-field">
        <label for="description">Description</label>
        <textarea
          id="description"
          pInputTextarea
          [(ngModel)]="product.description"
          required
          rows="3"
          cols="20"
        ></textarea>
      </div>

      <div class="p-field">
        <label class="p-mb-3">Category</label>
        <div class="p-formgrid p-grid">
          <div class="p-field-radiobutton p-col-6">
            <p-radioButton
              id="category1"
              name="category"
              value="Accessories"
              [(ngModel)]="product.category"
            >
            </p-radioButton>
            <label for="category1">Accessories</label>
          </div>
          <div class="p-field-radiobutton p-col-6">
            <p-radioButton
              id="category2"
              name="category"
              value="Clothing"
              [(ngModel)]="product.category"
            >
            </p-radioButton>
            <label for="category2">Clothing</label>
          </div>
          <div class="p-field-radiobutton p-col-6">
            <p-radioButton
              id="category3"
              name="category"
              value="Electronics"
              [(ngModel)]="product.category"
            >
            </p-radioButton>
            <label for="category3">Electronics</label>
          </div>
          <div class="p-field-radiobutton p-col-6">
            <p-radioButton
              id="category4"
              name="category"
              value="Fitness"
              [(ngModel)]="product.category"
            >
            </p-radioButton>
            <label for="category4">Fitness</label>
          </div>
        </div>
      </div>

      <div class="p-formgrid p-grid">
        <div class="p-field p-col">
          <label for="price">Price</label>
          <p-inputNumber
            id="price"
            [(ngModel)]="product.price"
            mode="currency"
            currency="USD"
            locale="en-US"
          >
          </p-inputNumber>
        </div>
        <div class="p-field p-col">
          <label for="quantity">Quantity</label>
          <p-inputNumber
            id="quantity"
            [(ngModel)]="product.quantity"
          ></p-inputNumber>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <button
        pButton
        pRipple
        label="Cancel"
        icon="pi pi-times"
        class="p-button-text"
        (click)="hideDialog()"
      ></button>
      <button
        pButton
        pRipple
        label="Save"
        icon="pi pi-check"
        class="p-button-text"
        (click)="saveProduct()"
      ></button>
    </ng-template>
  </p-dialog>
</div>
