<p-toolbar>
  <div class="p-toolbar-group-left">
    <span class="p-buttonset">
      <button
        pButton
        icon="pi pi-plus"
        (click)="addNew()"
        label="Add new"
      ></button>

      <button
        pButton
        icon="pi pi-pencil"
        (click)="edit()"
        label="Edit"
        class="toolbtn"
        [disabled]="-1 == currentIndex"
      ></button>

      <button
        pButton
        icon="pi pi-trash"
        (click)="delete()"
        label="Delete"
        class="toolbtn"
        [disabled]="-1 == currentIndex"
      ></button>
    </span>
  </div>

  <div class="p-toolbar-group-right">
    <span class="p-input-icon-left">
      <i class="pi pi-filter"></i>
      <input
        pInputText
        type="text"
        placeholder="Filter by name"
        [(ngModel)]="name"
      />
    </span>
    <p-button icon="pi pi-check" type="button" (click)="searchByName()" label="Apply" class="toolbtn"></p-button>
  </div>
</p-toolbar>

<p-table [value]="skins" selectionMode="single" [(selection)]="currentSkin" dataKey="ID" [scrollable]="true"
  scrollHeight="800px" (onRowSelect)="onSkinSelect($event)" (onRowUnselect)="onSkinUnselect($event)"
  (onRowDblclick)="onSkinDblClick($event)" styleClass="p-datatable-gridlines p-datatable-sm">
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="SKIN_NAME">
        Name <p-sortIcon field="SKIN_NAME"></p-sortIcon>
      </th>
      <th pSortableColumn="LAST_DATE" style="width: 120px">
        Date <p-sortIcon field="LAST_DATE"></p-sortIcon>
      </th>
      <th pSortableColumn="AUTHOR" style="width: 200px">
        Author <p-sortIcon field="AUTHOR"></p-sortIcon>
      </th>
      <th pSortableColumn="SKIN_LINK" style="width: 200px">
        Download <p-sortIcon field="SKIN_LINK"></p-sortIcon>
      </th>
      <th pSortableColumn="BUY1" style="width: 80px">
        Buy <p-sortIcon field="BUY1"></p-sortIcon>
      </th>
      <th pSortableColumn="RATING" style="width: 100px">
        Rating <p-sortIcon field="RATING"></p-sortIcon>
      </th>
      <th pSortableColumn="IN_RATING" style="width: 100px">
        Public <p-sortIcon field="IN_RATING"></p-sortIcon>
      </th>
      <th pSortableColumn="COMMENT" style="width: 130px">
        Comment <p-sortIcon field="COMMENT"></p-sortIcon>
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-skin>
    <tr [pSelectableRow]="skin" (dblclick)="onSkinDblClick($event, skin)">
      <td>{{skin.SKIN_NAME}}</td>
      <td style="width: 120px">{{skin.LAST_DATE}}</td>
      <td style="width: 200px">{{skin.AUTHOR}}</td>
      <td style="width: 200px">
        <a href="http://www.alphaskins.com/sfiles/skins/{{skin.SKIN_LINK}}">{{skin.SKIN_LINK}}</a>
      </td>
      <td style="width: 80px; text-align: center;">
        <a href="{{skin.BUY1}}" *ngIf="skin.BUY1">
          <i class="pi pi-shopping-cart" style="color:var(--green-600);"></i>
        </a>
      </td>
      <td style="white-space: nowrap; width: 100px;">
        <star-rating [value]="skin.RATING/2" checkedcolor="var(--yellow-600)" uncheckedcolor="var(--bluegray-200)"
          size="16px" readonly="true"></star-rating>
      </td>
      <td style="width: 100px; text-align: center;">
        <i class="pi pi-check" *ngIf="skin.IN_RATING==1"></i>
      </td>
      <td style="width: 130px">{{skin.COMMENT}}</td>
    </tr>
  </ng-template>
</p-table>

<p-dialog header="Skin Details" styleClass="p-fluid" [(visible)]="editDialog" [style]="{width: '700px'}" [modal]="true">
  <ng-template pTemplate="content">
    <p-divider></p-divider>
    <div class="p-field">
      <div class="p-formgrid p-grid">
        <div class="p-field p-col">
          <label for="name">Name</label>
          <input
            type="text"
            pInputText
            id="name"
            [(ngModel)]="editSkin.SKIN_NAME"
            autofocus
          />
        </div>
        <div class="p-field p-col">
          <label for="fname">File name</label>
          <input
            type="text"
            pInputText
            id="fname"
            [(ngModel)]="editSkin.SKIN_LINK"
          />
        </div>
        <div class="p-field p-col">
          <label for="author">Author</label>
          <p-dropdown id="author" [(ngModel)]="editSkin.AUTHOR" [options]="authors" optionLabel="AUTHORS"
            [showClear]="editSkin.AUTHOR != ''" editable="true" baseZIndex=10000 appendTo="body"></p-dropdown>
        </div>
      </div>
    </div>
    <div class="p-formgrid p-grid">
      <div class="p-field p-col">
        <label for="snum">Unique number: &nbsp; </label>
        <label id="snum"> {{editSkin.SKIN_NUM}}</label>
      </div>
      <div class="p-field p-col">
        <label for="sthumb"> Thumb name: &nbsp; </label>
        <label id="sthumb">
          <a href="https://www.alphaskins.com/sshots/{{editSkin.SS_SMALL}}"
            >{{editSkin.SS_SMALL}}</a
          ></label>
      </div>
      <div class="p-field p-col">
        <label for="screen">Screenshot: &nbsp; </label>
        <label id="screen">
          <a href="https://www.alphaskins.com/sshots/a{{editSkin.SKIN_NUM}}.png"
            >a{{editSkin.SKIN_NUM}}.png</a
          ></label>
      </div>
    </div>
    <p-checkbox name="inrating" [ngModel]="editSkin.IN_RATING==1" value="1" label="Published in the gallery"
      [binary]="true" (onChange)="editSkin.IN_RATING = editSkin.IN_RATING == 1 ? 0 : 1">
    </p-checkbox>
  </ng-template>

  <ng-template pTemplate="footer">
    <p-divider></p-divider>
    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-danger"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Save"
      icon="pi pi-check"
      class="p-button-success"
      [disabled]="(editSkin.SKIN_NAME=='')||(editSkin.SKIN_LINK=='')||(editSkin.AUTHOR=='')"
      (click)="saveSkin()"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '30em'}" acceptIcon="pi pi-thumbs-down" rejectButtonStyleClass="p-button-text">
</p-confirmDialog>