<p-toolbar>
  <div class="p-toolbar-group-left">
    <p-button
      icon="pi pi-plus"
      (click)="addNew()"
      label="Add new"
      class="toolbtn"
    ></p-button>

    <p-button
      icon="pi pi-search"
      type="button"
      (click)="searchByName()"
      label="Search"
      class="toolbtn"
    ></p-button>

    <p-button
      (click)="deleteAllskins()"
      label="Delete All"
      class="toolbtn"
    ></p-button>
  </div>

  <div class="p-toolbar-group-right">
    <span class="p-input-icon-left">
      <i class="pi pi-filter"></i>
      <input
        pInputText
        type="text"
        placeholder="Filter by name"
        [(ngModel)]="name"
      />
    </span>
  </div>
</p-toolbar>

<p-dialog
  [(visible)]="editDialog"
  [style]="{width: '750px'}"
  header="Skin Details"
  [modal]="true"
>
  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-danger"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Save"
      icon="pi pi-check"
      class="p-button-success"
      (click)="saveProduct()"
    ></button>
  </ng-template>
</p-dialog>

<table width="100%">
  <tr class="grid-header">
    <td>ID</td>
    <td>Name</td>
    <td>Link</td>
    <td>Date</td>
  </tr>
  <tr
    class="grid-row"
    *ngFor="let skin of skins; let i = index"
    [class.selected]="i == currentIndex"
    (click)="setCurrentSkin(skin, i)"
  >
    <td>{{ skin.ID }}</td>
    <td>{{ skin.SKIN_NAME }}</td>
    <td>{{ skin.SKIN_LINK }}</td>
    <td>{{ skin.LAST_DATE }}</td>
  </tr>
</table>
