html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: Tahoma;
}

input {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

.dlg-input {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.p-button {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  cursor: default;
}

td,
tr,
th {
  padding-top: 2px !important;
  padding-bottom: 3px !important;
  cursor: default;
}

.p-toolbar {
  padding: 6px;
  height: 48px;
}

.container {
  height: 100%;
  background: white;
  padding: 0px;
  padding-bottom: 48px; /* .p_toolbar height */
}

.skin-hidden {
  background-color: rgb(255, 233, 233) !important;
  opacity: 50%;
}
