body {
  padding: 0;
  margin: 0;
  font-family: Tahoma;
}

input,
.p-dropdown {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

.p-button {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  cursor: default;
}

td,
tr,
th {
  padding-top: 2px !important;
  padding-bottom: 3px !important;
  cursor: default;
}

.p-toolbar {
  padding: 6px;
}
